#editor {
  z-index: 0;
}

#editor .bold {
  font-weight: bold;
}

#editor .italic {
  font-style: italic;
}

#editor .underline {
  text-decoration: underline;
}

#editor .tool-window {
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  z-index: 1;
  padding: 10px;
  position: absolute;
}